.page
{
    box-sizing: border-box;

    margin: 0;
    padding: 0 0 10px 0;

    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background: #fafafa;
}

.header
{
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    margin-bottom: 20px;

    font-size: 20px;
    color: white;
    background: #9c1a1c;
    white-space: nowrap;
}

.header__app-name
{
    font-size: inherit;
    font-weight: normal;
    margin: 0 30px 0 0;
    padding: 0;
}

.header__login
{
    margin: 0 0 0 auto;
}

.header__login:link, .header__login:visited
{
    color: white;
}

.header__login:hover, .header__login:active
{
    color: #f1f1f1;
}

.button
{
    box-sizing: border-box;

    background: #333;
    color: white;
    border: none;

    font-size: 16px;

    padding: 10px 15px;
    border-radius: 4px;
}

.button:focus
{
    background: black;
}

.message-params
{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: normal;
}

.message-params__item_label
{

    margin-right: 10px;
}

.message-params__item + .message-params__item_label
{
    margin-left: 25px;
}

.message-params__item_device-id
{
    box-sizing: border-box;
    min-width: 110px;
    padding: 2px 0;

    font-size: 14px;
    border: 1px solid #666;
    color: #333;
    border-radius: 4px;
}

.message-params__item_limit
{
    box-sizing: border-box;
    width: 55px;
    font-size: 14px;
    padding: 3px;

    border: 1px solid #666;
    color: #333;
    border-radius: 4px;
}

.message-params__item_submit
{
    margin-left: 25px;
}

.message-list
{
    margin: 0 20px;
    padding: 0;
    list-style: none;
}

.message-list__item
{
    margin: 0;
}

.message-list__item + .message-list__item
{
    margin-top: 20px;
}

.message-view
{
    max-width: 1024px;
    padding: 10px;
    border-radius: 2px;

    box-shadow: black 0 0 1px;
    font-size: 14px;
    line-height: 1.5;
    background: white;
}

.message-view__header
{
    display: flex;
    align-items: center;
}

.message-view__tel
{
    color: #666;
    margin-left: 10px;
}

.message-view__date-time
{
    margin: 5px 0;
    font-size: 12px;
    color: #666;
}

.message-view__text
{
    margin-top: 10px;
}
