{% extends "layout.html" %}

{% block header_content %}
    <form class="message-params">
        <label for="message-params__device-id"
               class="message-params__item message-params__item_label">Device ID:</label>
        <select name="device-id"
                id="message-params__device-id"
                class="message-params__item message-params__item_device-id">
            {% for device_id_data in device_ids %}
                <option value="{{ device_id_data[0] }}" {% if device_id_data[1] %}selected{% endif %}>
                    {{ device_id_data[0] }}
                </option>
            {% endfor %}
        </select>

        <label for="message-params__limit"
               class="message-params__item message-params__item_label">Limit:</label>
        <input name="limit" type="number" placeholder="Limit"
               id="message-params__limit"
               class="message-params__item message-params__item_limit"
               value="{{ limit }}">

        {% if refresh %}
            <input type="hidden" name="refresh" value="{{ refresh }}">
        {% endif %}

        <button type="submit"
                class="button message-params__item message-params__item_submit">Setup
        </button>
    </form>
{% endblock %}

{% block main_content %}
    <ul class="message-list">
        {% for message in messages %}
            <li class="message-list__item message-view {% if message.marked %}message-view_marked{% endif %}">
                <div class="message-view__header">
                    <div class="message-view__device-id">{{ message.device_id }}</div>
                    <div class="message-view__tel">{{ message.printable_message_type }}: {{ message.tel }}</div>
                </div>
                <div class="message-view__date-time">{{ message.printable_date_time }}</div>
                <div class="message-view__text">{{ message.text | handle_tags | safe }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script async src="{{ url_for('static', filename='index.js') | static_version }}"></script>
{% endblock %}
