{% extends "layout.html" %}

{% block main_content %}
    <section class="document-section">
        <header class="document-section__header">
            <h2 class="document-section__title">Filter management</h2>
        </header>
        <form action="{{ url_for('save_filters') }}" method="POST">
            <input type="hidden" name="{{ csrf_field_name }}" value="{{ csrf_token }}">
            <ul class="edit-list filters-list">
                {% for item in filters %}
                    <li class="edit-list__item">
                        <div class="edit-list__control edit-list__control_check filters-list__remove">
                            <input type="checkbox"
                                   class="control control_checkbox"
                                   id="remove:{{ item.id }}"
                                   name="remove:{{ item.id }}"
                                   value="1">
                            <label class="checkbox-label" for="remove:{{ item.id }}">Remove</label>
                        </div>
                        <div class="edit-list__control edit-list__control_select">
                            <label class="hidden-label" for="op:{{ item.id }}">Operation</label>
                            <select name="op:{{ item.id }}"
                                    id="op:{{ item.id }}"
                                    class="control control_select">
                                <option value="or" {% if item.op == 'or' %}selected{% endif %}>OR</option>
                                <option value="and" {% if item.op == 'and' %}selected{% endif %}>AND</option>
                            </select>
                        </div>
                        <div class="edit-list__control edit-list__control_text">
                            <label class="hidden-label" for="tel:{{ item.id }}">From</label>
                            <input type="text"
                                   id="tel:{{ item.id }}"
                                   name="tel:{{ item.id }}"
                                   value="{{ item.tel }}"
                                   class="control control_text"
                                   placeholder="From address">
                        </div>
                        <div class="edit-list__control edit-list__control_text">
                            <label class="hidden-label" for="device_id:{{ item.id }}">Device ID</label>
                            <input type="text"
                                   id="device_id:{{ item.id }}"
                                   name="device_id:{{ item.id }}"
                                   value="{{ item.device_id }}"
                                   class="control control_text"
                                   placeholder="Device ID">
                        </div>
                        <div class="edit-list__control edit-list__control_text">
                            <label class="hidden-label" for="text:{{ item.id }}">Text pattern</label>
                            <input type="text"
                                   id="text:{{ item.id }}"
                                   name="text:{{ item.id }}"
                                   value="{{ item.text }}"
                                   class="control control_text"
                                   placeholder="Text pattern">
                        </div>
                        <div class="edit-list__control edit-list__control_select">
                            <label class="hidden-label" for="action:{{ item.id }}">Action</label>
                            <select name="action:{{ item.id }}"
                                    id="action:{{ item.id }}"
                                    class="control control_select">
                                <option value="mark" {% if item.action == 'mark' %}selected{% endif %}>Mark</option>
                                <option value="hide" {% if item.action == 'hide' %}selected{% endif %}>Hide</option>
                            </select>
                        </div>
                    </li>
                {% endfor %}
                <li class="edit-list__item edit-list__item_delimiter">
                    <div class="edit-list__control filters-list__new-label">
                        Create
                    </div>
                    <div class="edit-list__control edit-list__control_select">
                        <label class="hidden-label" for="op:new">Operation</label>
                        <select name="op:new"
                                id="op:new"
                                class="control control_select">
                            <option value="or" selected>OR</option>
                            <option value="and">AND</option>
                        </select>
                    </div>
                    <div class="edit-list__control edit-list__control_text">
                        <label class="hidden-label" for="tel:new">From</label>
                        <input type="text"
                               id="tel:new"
                               name="tel:new"
                               value=""
                               class="control control_text"
                               placeholder="From address">
                    </div>
                    <div class="edit-list__control edit-list__control_text">
                        <label class="hidden-label" for="device_id:new">Device ID</label>
                        <input type="text"
                               id="device_id:new"
                               name="device_id:new"
                               value=""
                               class="control control_text"
                               placeholder="Device ID">
                    </div>
                    <div class="edit-list__control edit-list__control_text">
                        <label class="hidden-label" for="text:new">Text pattern</label>
                        <input type="text"
                               id="text:new"
                               name="text:new"
                               value=""
                               class="control control_text"
                               placeholder="Text pattern">
                    </div>
                    <div class="edit-list__control edit-list__control_select">
                        <label class="hidden-label" for="action:new">Action</label>
                        <select name="action:new"
                                id="action:new"
                                class="control control_select">
                            <option value="mark" selected>Mark</option>
                            <option value="hide">Hide</option>
                        </select>
                    </div>
                </li>
                <li class="edit-list__item edit-list__item_submit">
                    <button class="button" type="submit">Save</button>
                </li>
            </ul>
        </form>
    </section>

    <section class="document-section">
        <header class="document-section__header">
            <h2 class="document-section__title">Filter export / import</h2>
        </header>

        <div>&nbsp;</div>

        <div class="control-row">
            <div class="control-row__item">
                <a href="{{ url_for('export_filters') }}" class="button">Export</a>
            </div>
            <div class="control-row__item">
                <form action="{{ url_for('import_filters') }}"
                      method="POST"
                      enctype="multipart/form-data"
                      class="file-input">
                    <input id="import-json-file"
                           type="file"
                           required
                           class="file-input__input"
                           name="filters_file"
                           accept="application/json">
                    <label class="file-input__label-button button" for="import-json-file">Import</label>
                    <input type="hidden" name="{{ csrf_field_name }}" value="{{ csrf_token }}">
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script async src="{{ url_for('static', filename='file-input.js') }}"></script>
{% endblock %}
